name: Cleanup

on:
  schedule:
    - cron: '0 0 * * 0' # Weekly on Sunday

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old artifacts
        uses: actions/delete-artifact@v4
        with:
          name: "*"
          older-than: "7 days"
